* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
header {
  width: 100%;
  height: 80px;
  padding: 0px;
  left: 0px;
  top: 0px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #226ed8;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
header a1 {
  position: absolute;
  width: 23.28px;
  height: 40px;
  left: 160px;
  top: 20px;
}
header a2 {
  position: absolute;
  width: 50px;
  height: 24px;
  right: 160px;
  top: 28px;
  justify-content: end;
  background: linear-gradient(90deg, #ffc93f 0%, #ffc93f 0.01%, #ffe03f 100%);
  border-radius: 50px;
}
header a3 {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 2px;
  top: 2px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  color: #fbb910;
}
header a4 {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 188px;
  top: 30px;
  background: #ffffff;
  border-radius: 100px;
}
header h1 {
  width: 147px;
  height: 45px;
  left: 566px;
  top: 17px;
  font-family: "Poppins";
  font-style: Bold;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fafafa;
}
footer {
  width: 100%;
  position: absolute;
  height: 50px;
  left: 0px;
  bottom: 0px;
  background: #114fa7;
}
footer h1 pre {
  position: absolute;
  width: 266px;
  height: 21px;
  left: 160px;
  top: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
footer h1 pre a {
  font-weight: bold;
  color: #ffffff;
}
footer h2 {
  position: absolute;
  width: 69px;
  height: 21px;
  right: 284px;
  top: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
footer span {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 263px;
  top: 17px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.017em;
  color: #ffafaf;
}
footer h3 pre {
  position: absolute;
  width: 100px;
  height: 21px;
  right: 159px;
  top: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
a5 {
  position: absolute;
  width: 620px;
  height: 119px;
  left: 160px;
  top: 112px;
  background: #ffffff;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}
a6 {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 176px;
  top: 128px;
  background: #fffcee;
  border-radius: 50%;
}
a7 {
  /* Fundo Amarelo médio */
  position: absolute;
  width: 34px;
  height: 34px;
  left: 181px;
  top: 133px;
  background: #fff5c0;
  border-radius: 50%;
}
a8 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 187px;
  top: 139px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.017em;
  color: #fbb910;
}
h4 {
  position: absolute;
  width: 75px;
  height: 18px;
  left: 227px;
  top: 128px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #141414;
}
p {
  position: absolute;
  height: 63px;
  left: 228px;
  top: 152px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #141414;
}
h5 {
  position: absolute;
  width: 68px;
  height: 30px;
  left: 160px;
  top: 263px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #141414;
}
div {
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 423px;
  top: 263px;
  border: 2px solid #226ed8;
  border-radius: 40px;
}
div span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 5px;
  top: 6px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #226ed8;
}
div2 h1 {
  position: absolute;
  width: 192px;
  height: 21px;
  left: 12px;
  top: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #141414;
}
div2 h2 {
  position: absolute;
  width: 80px;
  height: 18px;
  left: 12px;
  top: 43px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #141414;
}
div2 a {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 227px;
  top: 14px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #226ed8;
}
div2 a2 {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 94px;
  top: 46px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  color: #141414;
}
div2 h3 {
  position: absolute;
  width: 38px;
  height: 18px;
  left: 199px;
  top: 39px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #df0000;
}
div2 a3 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 180px;
  top: 39px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #df0000;
}
div5 h1 {
  position: absolute;
  width: 192px;
  height: 21px;
  left: 12px;
  top: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #141414;
}
div5 h2 {
  position: absolute;
  width: 80px;
  height: 18px;
  left: 12px;
  top: 43px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #141414;
}
div5 a {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 227px;
  top: 14px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #141414;
}
div5 a2 {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 94px;
  top: 46px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  color: #141414;
}
div5 div6 span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
div8 h1 {
  position: absolute;
  width: 209px;
  height: 21px;
  left: 12px;
  top: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #141414;
}
div8 h2 {
  position: absolute;
  width: 118px;
  height: 18px;
  left: 12px;
  top: 43px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #002d6c;
}
div8 a {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 132px;
  top: 46px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #002d6c;
}
div8 p {
  position: absolute;
  width: 163px;
  height: 36px;
  left: 12px;
  top: 67px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #141414;
}
div8 div9 span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
div8 a2 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 227px;
  top: 14px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #141414;
}
h6 {
  position: absolute;
  width: 156px;
  height: 30px;
  left: 493px;
  top: 264px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #141414;
}
div9 div2 h1 {
  position: absolute;
  width: 192px;
  height: 21px;
  left: 12px;
  top: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #141414;
}
div9 div2 a {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 227px;
  top: 14px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #141414;
}
div9 div2 a2 {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 94px;
  top: 46px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  color: #141414;
}
div9 div2 h2 {
  position: absolute;
  width: 80px;
  height: 18px;
  left: 12px;
  top: 43px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #141414;
}
div9 div2 div3 span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
div9 div2 div4 span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2.01px;
  top: 2px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #226ed8;
}
h7 {
  position: absolute;
  width: 48px;
  height: 30px;
  left: 827px;
  top: 263px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #141414;
}
div10 div2 h1 {
  position: absolute;
  width: 192px;
  height: 21px;
  left: 12px;
  top: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-decoration: line-through;
  color: #141414;
}
div10 div2 a {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 227px;
  top: 14px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #141414;
}
div10 div2 a2 {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 94px;
  top: 46px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  color: #141414;
}
div10 div2 h2 {
  position: absolute;
  width: 80px;
  height: 18px;
  left: 12px;
  top: 43px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #141414;
}
div10 div2 div3 span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
div10 div2 div4 span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2.01px;
  top: 2px;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #226ed8;
}
